<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <appSettings>
        <!-- DataProvider. Options are: System.Data.OleDb, System.Data.SqlClient, or System.Data.OracleClient -->
        <add key="DataProvider" value="System.Data.SqlClient"/>

        <!-- Log Severity. Options are: Debug, Info, Warning, Error, Warning, or Fatal -->
        <add key="LogSeverity" value="Error"/>

        <!-- Default Shipping Method. Options are: Fedex, UPS, or USPS  -->
        <add key="ShippingMethod" value="Fedex"/>
    </appSettings>
    <!-- 
      Connection string settings 
    -->
    <connectionStrings>
        <add name="System.Data.OleDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|action.mdb"/>
        <add name="System.Data.SqlClient" connectionString="Server=SB06\SQLEXPRESS;Initial Catalog=HealthCare;uid=aspuser;pwd=aspuser@123;"/>
        <add name="System.Data.OracleClient" connectionString="Data Source=MyOracleActionDB;User Id=scott;Password=tiger;Integrated Security=no;"/>
    </connectionStrings>
    
    <system.web>

        <!-- disable post and get -->
        <webServices>
            <protocols>
                <remove name="HttpPost"/>
                <remove name="HttpGet"/>
            </protocols>
        </webServices>
        
		<!-- insert debugging symbols into compiled code -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
            </assemblies>
        </compilation>
		
        <!-- configure cookie based authentication -->
        <authentication mode="Forms">
            <forms name="ACTION_COOKIE"
                   loginUrl="Service.asmx"
                   protection="All">
            </forms>
        </authentication>
      <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
      <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
      <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
      <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />

      <!-- deny access to anonymous users -->
        <authorization>
            <deny users="?"/>
        </authorization>
        
	</system.web>
</configuration>
